<h1>Projects</h1>

<!-- <%= @projects %> -->
<% @projects.each do |x|  %>
	<ul>ID: <%= x.id %> 
		<li>Name: <%= x.name %></li>
		<li>Description: <%= x.description %></li>
		<li><%= x.created_at %></li>
	</ul>
<% end %>
