<h1> <%= @new_content.title %> </h1>


<p>
<%= @new_content.text %>
</p>



<h2> Posted on: </h2><h3> <%= @new_content.date %> </h3>
<h2> Posted by: </h2><h3> <%= @new_content.author %> </h3>
<h2> Stored under: </h2><h3> <%= @new_content.category %> </h3>

<a href="/">Return to home</a>

