<h1> Edit <%= @concert.artist %> </h1>

<%= form_for @concert do |c| %>
	<%= c.label :artist %> 
	<%= c.text_field :artist %>
	<%= c.label :city %> 
	<%= c.text_field :city %>

	<br>
	<%= c.submit %>
	<% end %>