<h1> Welcome to the Music Concert Network </h1>

<ul>
<% @concerts.each do |concert| %>
	<li>
	<%= concert.artist %> <br>
	<%= concert.city %> <br>
	<%= concert.date %> <br>
	
	<%= link_to("More Information", concert_path(concert.id)) %> <br>
	<%= link_to("Edit", edit_concert_path(concert.id)) %>
	<br>
	</li>
<% end %>
</ul>


	