<h1> Test from ENTRIES </h1>
<%= @project %>
<ul>
<% @project.entries.each do |x| %>
	<li>

	<%= x.hours %>
	<%= x.minutes %>

	</li>
</ul>
<% end %>

<%= link_to("Projects", projects_path) %>
<%= link_to("New Entry", new_project_entry_path(@project)) %>
